<section class="qualities-section">

    <app-section-title [title]="'headers.qualities' | translate"></app-section-title>

    <ul class="qualities-list">
      <ng-container *ngFor="let item of (data | async)?.qualities">
        <li class="qualities-item">
          <strong class='qualities-item__header appear'>{{ item.title }}</strong><br/>
          <span class='qualities-item__description appear'>{{ item.description }}</span>
        </li>
      </ng-container>
    </ul>
    
  </section>
  
  