<section class="qualities-section">

    <app-section-title [title]="'headers.qualities' | translate"></app-section-title>

    <ul class="qualities-list" [class.loading]="!qualities?.length">
      <ng-container *ngFor="let item of qualities">
        <li class="qualities-item">
          <strong class='qualities-item__header' in-viewport>{{ 'qualities.' + item.title + '.title' | translate }}</strong><br/>
          <span class='qualities-item__description' in-viewport>{{ 'qualities.' + item.title + '.description' | translate }}</span>
        </li>
      </ng-container>
    </ul>
    
  </section>
  
  