<ul class="portfolio-filters" in-viewport>

  <ng-container *ngFor="let filter of ((filters$ | async ) | keyvalue); ">

    <li class="portfolio-filter__item" *ngIf="filter.value">
      <label>

        <input
          type="checkbox"
          value="filter.key"
          class="portfolio-filter__checker"
          [checked]="filters[filter.key]"
          (change)="onFilterChecked(filter.key, $event)"
        />

        <span class="portfolio-filter__marker">
          <ejs-tooltip [content]="('service.filter-tip' | translate) + (filter.key | uppercase)" cssClass="tooltip-window" [mouseTrail]='true'>
            {{ filter.key }}
          </ejs-tooltip>
        </span>
        
      </label>
    </li>

  </ng-container>

</ul>
