<section class='portfolio-work__opened'>

  <app-section-title [title]="'headers.portfolio' | translate"></app-section-title>

  <p class="section-description">{{ 'descriptions.portfolio' | translate }}</p>

    
    <div class='portfolio-opened__description appear'>
        <img class="portfolio-opened__print-version" [src]="" [alt]="" />
        <p class='portfolio-opened__short-description'></p>
        <p class='portfolio-opened__full-description'></p>
        <p class="portfolio-opened__print-version"></p>
    </div>

    <div class="" ref="">

        <img class=""
             [src]=""
             [alt]="" />

        <iframe class=""
                data-scale=""
                data-width=""
                data-height=""
                title=""
                ref=""
                [style]="{ width: width + 'px', height: height + 'px' }" >
        </iframe>

        <div class='work-in-frame__loading-icon'></div>

        <!-- <Link to="/" onClick={ this.closeWork } class="work-in-frame__close-cross" data-tip="вернуться к списку работ"></Link>
        <Link to="/" onClick={ this.closeWork } class="work-in-frame__close-mobile-button"  data-tip="вернуться к списку работ"></Link> -->

    </div>

</section>