@import '../../../assets/scss/variables';

.skills {
  &-section {
    vertical-align: top;
    @media screen and (min-width: 768px) {
      width: 50%;
      padding-left: 5%;
      display: inline-block;
    }
  }

  &-filters{
    text-align: right;
    margin-top: -25px;
    a{
      color: $color-first;
      transition: .5s;
      margin-left: 10px;
      &:after{
        content: "";
        font-size: 10px;
        vertical-align: middle;
      }
      &.active{
        color: $color-second;
        &:after{
          content: "▲";
        }
      }
      &.desc{
        &:after{
          content: "▼";
        }
      } 
    }
  }

  &-list {
    padding-left: 25px;
  }

  &-item {
    position: relative;
    margin-bottom: 5px;
    padding: 0 5px;
    transition: 2s;
    height: 18px;
    color: white;
    transform: scale(1, 1) !important;
    background: linear-gradient(to right, $color-first 40%, $color-second) !important;
    width: 0;

    &.animated {
      @for $i from 1 through 20 {
        &.skills-item_level-#{$i*5} {
          width: percentage($i*5/100);
        }
      }
    }

    &__title {
      position: absolute;
      font: bold .9rem/16px Helvetica;
    }

    &__icon{
      &:before{
        position: absolute;
        left: -30px;
        font-size: 18px;
        color: $color-first;
        transition: 1s;

        li:hover &{
          color: $color-second;
        }
      }
    }

    &__header {
      margin: 15px 0 5px;
      font-weight: normal;
      color: $color-first;
    }
  }

}

@for $i from 1 through 20 {
  .skills-item_level-#{$i*5} {
    width: percentage($i*5/100);
  }
}
