<section class="skills-section">

  <app-section-title [title]="(data | async)?.headers.skills"></app-section-title>

  <ng-container *ngFor="let item of ((data | async)?.skills | keyvalue)">
    <h3 class="skills-item__header">{{ item.key }}</h3>
    <ol class="skills-list">
      <ng-container *ngFor="let skill of item.value | keyvalue">
        <li class="skills-item animated" [ngClass]="'skills-item_level-' + skill.value.level">
          <strong class="skills-item__title">
            <span class="skills-item__icon" [ngClass]="'icon-' + (skill.value.icon || skill.key)"></span>
            {{ skill.value.title }}
          </strong>
        </li>
      </ng-container>
    </ol>
  </ng-container>
  
</section>

