<nav (window:resize)="onResize()">

   <ul
    class="main-menu"
    [class.main-menu_mobile]="screen == 'sm'"
    [class.main-menu_fixed]="fixed"
    [class.main-menu_mobile_opened]="mobileOpened"
  >

    <li class="main-menu__item-holder main-menu__item-holder_mobile-button">
      <a class="main-menu__item-link_mobile-button" (click)="toggleMobileMenu(); $event.preventDefault(); ">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </a>
    </li>

    <ng-container *ngFor="let item of menuItems; let i = index">
      <li class="main-menu__item-holder" [class.main-menu__item-holder__hide]="!item.show">
        <ejs-tooltip [content]="'menu.' + item.title | translate" cssClass="tooltip-window" [mouseTrail]='true'>
          <a
            class="main-menu__item-link"
            target="_blank"
            [href]="item.href ? item.href : '#'"
            [attr.download]="item.download ? '' : null"
            [style.background-position]="(i * 5.9) + '% 0'"
            (click)="item.action && item.action(); item.prevent && $event.preventDefault();"
          >
            {{item.description}}
          </a>
        </ejs-tooltip>
      </li>
    </ng-container>

  </ul>

  <app-modal
    [open]="modal.open"
    [url]="modal.url"
    [type]="modal.type"
    (onCloseModal)="openModal(false)"
  ></app-modal>

</nav>
