<section className="experience-section">

  <app-section-title [title]="'headers.experience' | translate"></app-section-title>

  <p class="section-description" in-viewport>{{ 'descriptions.experience' | translate }}</p>

  <ul class="experience-list" [class.loading]="!(experiences$ | async)?.length">

    <ng-container *ngFor="let item of experiences$ | async; let i = index; let count = count;">

      <li
        class="experience-item"
        [class.experience-item_top-left]="i % 2 === 0"
        [class.experience-item_bottom-right]="i % 2 !== 0"
        [style.order]="i % 2 === 0 ? ++upperCounter : ++count"
        [style.ms-flex-order]="i % 2 === 0 ? ++upperCounter : ++count"
      >

        <figure class="experience-item__image-wrapper">
          <img class="experience-item__image" src="{{ item.image }}" alt="">
        </figure>

        <i class="experience-item__pointer"></i>

        <h3 class="experience-item__header">
          <time class="experience-item__year">
            <span class="experience-item__year-text">{{ item.year }}</span>
          </time>
          <strong in-viewport>{{ 'experience.' + item.year + '.title' | translate }}</strong>
        </h3>

        <p class="experience-item__description" in-viewport>{{ 'experience.' + item.year + '.description' | translate }}</p>

      </li>

    </ng-container>

  </ul>

</section>