<section className="experience-section">

  <app-section-title [title]="(data | async)?.headers.experience"></app-section-title>

  <p class="section-description" *ngIf="(data | async)?.descriptions.experience as experience">{{ experience }}</p>

  <ul class="experience-list">

    <ng-container *ngFor="let item of ((data | async)?.experience | keyvalue); let i = index; let count = count;">

      <li
        class="experience-item"
        [class.experience-item_top-left]="i % 2 === 0"
        [class.experience-item_bottom-right]="i % 2 !== 0"
        [style.order]="i % 2 === 0 ? ++upperCounter : ++count"
        [style.ms-flex-order]="i % 2 === 0 ? ++upperCounter : ++count"
      >

        <figure class="experience-item__image-wrapper appear">
          <img class="experience-item__image" src="{{ item.value.image }}" alt="">
        </figure>

        <i class="experience-item__pointer"></i>

        <h3 class="experience-item__header">
          <time class="experience-item__year">
            <span class="experience-item__year-text">{{ item.value.year }}</span>
          </time>
          <span>{{ item.value.title }}</span>
        </h3>

        <p class="experience-item__description appear">{{ item.value.description }}</p>

      </li>

    </ng-container>

  </ul>

</section>